/*
body {
	background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("images/bring-rain.gif");
	background-size: auto;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}


a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;	  
	padding: 0;
	overflow: hidden;
}
li {
	display: inline;
}


.icon {
	color: grey;
	font-size:40px;
}
.icon:hover {
	color: black;
	opacity: 0.8;
	transition: color ease 0.5s;
	/*font-size: 50px;
	https://fonts.google.com/specimen/Roboto?selection.family=Roboto
}
*/

@media (max-width: 720px) {
  
  .img-resize{
  	max-width: 200px;
  }
  .visible-large-screen {
  	display: block;
  }
    .visible-mobile {
  	display: none;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
    .img-resize{
  	max-width: 150px;
  }
  .visible-large-screen {
  	display: none;
  }
  .visible-mobile {
  	display: block;
  }
}

.card-white {
	margin-top: 30px;
	background: rgba(255,255,255,0.5);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px; 
	border-radius: 4px;
	box-shadow: 3px 3px 5px rgba(0,0,0,.1);
}


